<!DOCTYPE html>
<html lang>
  
  <!-- header -->
  <div class="nav-tabs">
    <a href="">Home</a>
    <a href="">About</a>
  </div>
    <nav class="navbar">

      <!-- logo -->
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/136624976/original/e6a3a4c317b93eb7eaf6f5acd35eabe626f01fa7/professionally-design-a-social-media-banner-or-header.jpg">
        </a>
      </div>
    </nav>

    <!-- routes will be rendered here -->

    <!-- footer -->
    <footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by <a href="https://twitter.com/chrisoncode">Chris from Scotch</a>
      </p>
    </div>
    </div>
    </footer>
  
</html>